
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&family=Titillium+Web:ital,wght@1,300&display=swap');

* {
    background-color: #696969
    ;
    margin: 0;
    padding: 0;
    border: 0;
    color: #f7f7f7
}

body {
    font-family: raleway, sans-serif;
    font-weight: 600;
    letter-spacing: 4px;
}

/* navigation bar */

header {
    
    align-items: center;
    padding: 30px 10%;
    width: 1200px;
    background-color: #696969;
    height: 80px;
}

#brand {
    float: left;
    font-size: 200%;
    display: flex;

}

#sub-logo {
   color: #560319;
   float: left;
   margin-right: 30%;
}

#nav-bar ul {
    list-style: none;
    margin-right: 4%;
    height: 50px;
    display: flex;
    letter-spacing: 2px;
    
}

#nav-bar li {
    padding:0px 10px;
    width: auto;
    margin-bottom: 8px;
}

#menu-items {
    float: right;
    
}

#nav-bar li a {
    text-decoration: none;
    line-height: 50px;
    display: block;
    float: right;
    width: auto;  
    
}

#nav-bar li a:hover {
    color: #560319;
    background-color: #696969;
}

.active {
    border-bottom: 1px solid #560319;
    border-top: 1px solid #560319;
}


/* main image section */

#hero-section {
    height: 80vh;
    width: 100vw;
}

#hero-img {
    height: 600px;
    width: 80vw;
    background: url('../images/hero-bike-img.webp') no-repeat center center;
    filter: grayscale(50%);
    margin-right: 10%;
    margin-left: 10%;
    position: absolute;
}

#hero-quote {
    background: none;
    margin-left: 10%;
    color: #560319;
    font-weight: 100;
    display: flex;
    margin-top: 5%;

}
