
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&family=Titillium+Web:ital,wght@1,300&display=swap');

* {
    background-color: #696969
    ;
    margin: 0;
    padding: 0;
    border: 0;
    color: #f7f7f7
}

body {
    font-family: raleway, sans-serif;
    font-weight: 600;
    letter-spacing: 4px;
}

/* navigation bar */

header {
    
    align-items: center;
    padding: 30px 10%;
    width: 1200px;
    background-color: #696969;
    height: 30px;
}

#brand {
    float: left;
    font-size: 200%;

}

#sub-logo {
   color: #560319;
   float: left;
   font-style: italic;
}

#nav-bar {
    
    
} 

#nav-bar ul {
    list-style: none;
    margin-right: 10%;
    height: 50px;
    display: flex;
    
}

#nav-bar li {
    padding:0px 10px;
    width: 150px;
    margin-bottom: 8px;
}

#menu-items {
    float: right;
    align-items: center;
}

#nav-bar li a {
    text-decoration: none;
    line-height: 50px;
    display: block;
    float: right;
    width: auto;  
}

#nav-bar li a:hover {
    color: #560319;
    background-color: #696969;
}

.active {
    border: 1px solid #560319;
}


/* second section */

#main-img {
    height: 200px;
    background-color: blanchedalmond;
}
